@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

body {
  background-color: #1e1e2e;
  font-family: 'JetBrainsMono';
  margin: 0;
}

h1 {
  color: #cdd6f4;
  text-align: center;
  font-size: 3em;
}

p {
  color: #cdd6f4;
  font-size: 1em;
}

a {
  color: #89b4fa;
  transition: 0.25s;
}

a:hover {
  color: #cdd6f4;
  text-shadow: 0 0 8px #89b4fa;
}

.dim {
  color: #6c7086;
}

.divider1 {
  height: 0.25vh;
  background-image: linear-gradient(90deg, #cdd6f4, #1e1e2e);
}

.divider2 {
  height: 0.25vh;
  background-image: linear-gradient(90deg, #1e1e2e, #cdd6f4);
}

.segment1 {
  background-image: linear-gradient(45deg, #1e1e2e, #313244);
  padding: 5vw;
  display: flex;
  gap: 25vw;
  justify-content: center;
  align-items: center;
}

.segment1 p {
  max-width: 40ch;
  text-align: center;
}

.segment2 {
  background-image: linear-gradient(45deg, #313244, #1e1e2e);
  padding: 5vw;
  display: flex;
  gap: 25vw;
  justify-content: center;
  align-items: center;
}

.segment2 p {
  max-width: 40ch;
  text-align: center;
}
